@model IEnumerable<challenge_NET.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i> Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Historia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Historia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PeliculaId" class="btn btn-sm btn-info rounded-0">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PeliculaId" class="btn btn-sm btn-success rounded-0">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PeliculaId" class="btn btn-sm btn-danger rounded-0">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

